header {
    background-color: #333333;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0%;
    left: 0%;
}

nav {
    margin: 0;
    padding: 20px 0;
}
  
nav li {
   color: #fff;
   font-family: 'Raleway', sans-serif;
   font-weight: 600;
   font-size: 12px;
   display: inline-block;
   width: 100px;
}

h1 {
    font-size: 36px;
    padding: 15px;
    color: #19aa20;
    background-color: white;
  }
  
h2 {
    font-size: 24px;
    padding: 15px;
    text-transform: uppercase;
  }
  
h3 {
    font-size: 20px;
    padding: 15px;
    text-transform: uppercase;
    text-align: left;
    margin-left: 20px;
    font-weight: 500;
    line-height: 2.7;
    letter-spacing: 0.8px;
  }
    
footer {
    margin-top: 50px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 5px;
    z-index: 5;
  }

footer h3 {
    display: inline-block;
    font-size: 20px;
  }
  
.pemesan {
    text-align: left;
    width: 150px;
    max-width: 940px;
    margin: 0 auto;
    height: 100px;
  } 

.telpon {
    text-align: left;
    width: 150px;
    max-width: 940px;
    margin: 0 auto;
    height: 100px;
  } 

.alamat-info {
    text-align: left;
    width: 150px;
    max-width: 940px;
    margin: 0 auto;
    height: 100px;
  } 

.submission {
    text-align: center;
    width: 150px;
    max-width: 940px;
    margin: 0 auto;
    height: 100px;
  } 

.katapenutup {
    text-align: center;
    width: 150px;
    max-width: 940px;
    margin: 0 auto;
    height: 100px;
  } 