header {
    background-color: #333333;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0%;
    left: 0%;
}

nav {
    margin: 0;
    padding: 20px 0;
}
  
nav li {
   color: #fff;
   font-family: 'Raleway', sans-serif;
   font-weight: 600;
   font-size: 12px;
   float: right;
   width: 100px;
   padding-right: 50px;
   padding-bottom: 10px;
  }
nav li a {
    text-decoration: none;
    color: white;
}
  
nav li img {
    width: 50px;
    margin-top: -20px;
}

nav li p {
    font-family: 'Satisfy', cursive;
    color: white;
    font-size: 23px;
    margin-top: -8px;
    margin-left: -80px
}

body {
    margin: 0;
    padding: 0;
}

nav {
    margin: 0;
    padding: 20px 0;
}
  
nav li {
   color: #fff;
   font-family: 'Raleway', sans-serif;
   font-weight: 600;
   font-size: 12px;
   display: inline-block;
   width: 100px;
   text-decoration-style: none;
}

nav li a {
    color: white;
    text-decoration: none;
}

main {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 150px;
    margin-left: 40px;
    color: darkslategrey;
}

main h3{
    font-size: 40px;
}

main img {
    position: relative;
    align-items: center;
    width: 20%;
}

aside {
    text-align: right;
    float: right;
    margin-top: -80px;
}

.pesanan {
    position: relative;
    float: right;
    margin-right: 700px;
}

.pesanan td, th {
    padding: 10px 70px 10px 5px;
}

.pesanan td {
    border-top: groove;
}

#note {
    letter-spacing: 3px;
    font-style: italic;
}

.pengiriman table {
    margin-top: 30px;
    width: 100%;
    position: absolute;
}

.pengiriman td{
    padding-right: 100px;
}

.pengiriman td img {
    width: 25px;
    opacity: 0.4;
}