body {
    top: 0%;
    left: 0%;
}

/* copy header */
header {
    background-color: #333333;
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0%;
    left: 0%;
}

nav {
    margin: 0;
    padding: 20px 0;
}
  
nav li {
   color: #fff;
   font-family: 'Raleway', sans-serif;
   font-weight: 600;
   font-size: 12px;
   display: inline-block;
   float: right;
   width: 100px;
   padding-right: 50px;
   padding-bottom: 10px;
  }
nav li a {
    text-decoration: none;
    color: white;
}
  
nav li img {
    width: 50px;
    margin-top: -20px;
}

nav li p {
    font-family: 'Satisfy', cursive;
    color: white;
    font-size: 23px;
    margin-top: -8px;
    margin-left: -80px
}
/* copy header end */

main {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    position: relative;
    top: 80px;
}

}

.container {
    /* background: linear-gradient(#333333, #d9d9d9); */
    background: linear-gradient(#333333, #d9d9d9);
}

.container {
    padding-left: 500px;
    padding-right: 40px;
    padding-top: 120px;
}

.container h1 {
    font-family: 'Satisfy', cursive;
    color: white;
    text-align: left;
    text-shadow: b;
    ;    
}

.container p {
    font-family: 'Raleway', sans-serif;
    color: white;
    text-align: justify;
    padding-right: 120px;
}

.container button {
    font-family: 'Raleway', sans-serif;
    position: relative;
    align-items: left;
}

.background-home {
    height: 800px;
    margin-top: 10px;
    margin-left: -10px;
    margin-right: -10px;
    background-image:
    linear-gradient(to left, rgba(0, 0, 0, 0.5), rgba(255, 255, 255, 0.5)),
    url("https://images.unsplash.com/photo-1471110338536-858caa3dbe45?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.food {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 20px 0;
    overflow: hidden;
    position: relative;
    background-color: #d9d9d9;
}

.food h3 {
    text-align: center;
}

#food {
    font-family: 'Raleway', sans-serif;
    position: absolute;
    top: -80px;
    visibility: hidden;
}

.food li {
    size: 12px;
    display: inline-block;
}

.bakwan li a {
    text-decoration: none;
    color: black
}

.bakwan {
    padding-right: 10px;
    padding-left: 5px;
    text-align: center;
}

.bakwan2 {
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
}

.bakwan3 {
    padding-right: 5px;
    padding-left: 10px;
    text-align: center;
}

.bakwan img, .bakwan2 img, .bakwan3 img {
    width: 350px;
}

.bakwan a, .bakwan2 a, .bakwan3 a {
    text-align: center;
    text-decoration: none;
    color: black;
}

.drink {
    background-color: #d9d9d9;
    padding-top: 20px;
}

.drink li {
    size: 12px;
    display: inline-block;
}

.minuman img {
    width: 350px;
}

.minuman {
    padding-right: 10px;
    padding-left: 5px;
    padding-bottom: 35px;
}

.minuman a, .minuman p {
    text-align: center;
    text-decoration: none;
    color: #333333;
}

.drink h3 {
    font-family: 'Raleway', sans-serif;
    text-align: center;
}

.drink p {
    font-family: 'Raleway', sans-serif;
}

#drink {
    position: absolute;
    top: -80px;
    visibility: hidden;
}

h2 {
    font-family: 'Raleway', sans-serif;
    color: black;
    text-align: center;
    padding-top: 100px;
}


p {
    color: black;
    
}

li {
    color: black;
    
    
}

a.button {
    font-size: 10px;
    appearance: button;
    background-color: #4CAF50;
    color: white;
    border: 2px solid #4CAF50;
    border-radius: 50px;
    text-decoration: none;
    padding: 0px 10px;
    position: relative;
    margin: 0px 140px;
    float: right;
}

a.button:hover {
    background-color: white;
    color: #4CAF50;
    border: 2px solid #4CAF50;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 15px 10px;
    width: 100%;
    z-index: 1;
    bottom: 0;
    margin-left: -10px;
    padding-bottom: 30px;
}
  
footer p {
    font-family: 'Fira Code', monospace;
    text-transform: uppercase;
    font-size: 11px;
    color: #d9d9d9;
    text-align: center;
    padding: 0px 200px;
}

footer li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;
}

footer ul {
    padding-left: 47.5%;
}

footer img {
    width: 25px;
}
